{{!-- {{#each this}}
  <div class='lightbox__overlay'></div>
  <div class='lightbox__content'>
    <button type='button' class='lightbox__button' data-action='close-lightbox'></button>
    <div class='svg-container'>
      <img class='modal-svg' src='{{images.url}}' alt='{{name}}' />
    </div>
    <div class='modal-section'>
      <picture class='modal-img-section'>
        <img class='modal-img' src='{{images.url}}' alt='{{name}}' />
      </picture>
      <div class='modal-container-info'>
        <div class='modal-container'>
          <h3 class='modal-header'>INFO</h3>
          <p class='modal-text-info'>{{info}}</p>
        </div>
        <div class='modal-container'>
          <h3 class='modal-header'>WHEN</h3>
          <p class='modal-text'>{{dates.start.localDate}}</p>
          <p class='modal-text'>{{dates.start.localTime}} {{dates.start.timezone}}</p>
        </div>
        <div class='modal-container'>
          <h3 class='modal-header'>WHERE</h3>
          <p class='modal-text'>{{dates.start.timezone}}</p>
          <p class='modal-text'>{{locationRef}}</p>
        </div>
        <div class='modal-container'>
          <h3 class='modal-header'>WHO</h3>
          <p class='modal-text'>{{name}}</p>
        </div>
        <div class='modal-container'>
          <h3 class='modal-header'>PRICE</h3>
          <p class='modal-text'>{{priceRanges.type}}
            {{priceRanges.min}}-{{priceRanges.max}}
            {{priceRanges.currency}}</p>
          <a href='/'>
            <button type='button' class='modal-btn-buy'>BUY TICKETS</button>
          </a>
          <p class='modal-text'>{{priceRanges.type}}
            {{priceRanges.min}}-{{priceRanges.max}}
            {{priceRanges.currency}}</p>
          <a href='/'>
            <button type='button' class='modal-btn-buy'>BUY TICKETS</button>
          </a>
        </div>
        <a href='/'>
          <button type='button' class='modal-btn-more'>MORE FROM THIS AUTHOR</button>
        </a>
      </div>
    </div>
  </div>
{{/each}} --}}